h2{
	text-align: center;
}
.chicken{
	background-color: #ffb3b3;
	border: 1px solid black;
	width: 100px;
	text-align: center;
	font-weight: bold;
	float: right;
}
.Beef{
	background-color: #ffcc99;
	border: 1px solid black;
	width: 100px;
	text-align: center;
	font-weight: bold;
	float: right;
}
.Sushi{
	background-color: #cc0000;
	border: 1px solid black;
	width: 100px;
	text-align: center;
	font-weight: bold;
	float: right;
}
.p1{
	background-color: #a6a6a6;
	border: 1px solid black;
	width: 30%;
	display: inline-block;
}
.p2{
	background-color:#a6a6a6 ;
	border: 1px solid black;
	width: 30%;
	display: inline-block;
}
.p3{
	background-color:#a6a6a6 ;
	border: 1px solid black;
	width: 30%;
	display: inline-block;
}
p{
	padding: 0.5rem;
}
.DIV{
	text-align: center;
	display: inline-block;

}
@media (min-width: 768px) and (max-width: 991px){
	.p1{
       width: 49%;
       display: inline-block;
	}
	.p2{
       width: 49%;
       display: inline-block;
	}
	.p3{
       width: 99%;
       margin-top: 5px;
	}
}
@media  (max-width: 767px){
	.p1{
       width: 99%;
      
	}
	.p2{
       width: 99%;
       margin-top: 5px;
	}
	.p3{
       width: 99%;
       margin-top: 5px;
	}
}